$('#spinner').hide();

<%if @unscrambled_words.present?%>
  
  <%@unscrambled_words.each do |word|%>
    $('#unscrambled_words').append("<p><%=word%></p>");
  <%end%>

<%else%>
  $('#no_matches_found').show();
<%end%>
