      <a href="https://twitter.com/share" 
          class="twitter-share-button" 
          style="vertical-align:top;height:63px;"
          data-url="http://<%=request.host%>"
          data-text="<%=text%>"
          data-count="none"
          data-hashtags="<%=hashtag%>">Tweet
      </a>

